<h1> Perfil do <%= @user.email %> </h1>

<h2> Tweets (<%= @user.tweets.count %>)</h2>

<% if @user.tweets.empty? %> <!-- Vendo que se os usuarios não tem tweets, mostrar vazio-->
  <p>Usuário ainda não tem tweets.</p>
<%else%>
  <ul>
    <% current_user.tweets.each do |tweet| %> <!-- mostrando os tweets dos usuários -->
      <li><%= tweet.content %></li>
    <% end %>
  </ul>
<%end%>
